{% extends "student/student_home.html" %}

{% block title %} 
Schedule
{% endblock %} 


{% block content %} 
<style>

  .login_btn {
		width: 100%;
		background: #d8c090!important;
		color: white !important;
	}

	.login_btn:focus {
		box-shadow: none !important;
		outline: 0px !important;
	}

	.login_container {
		padding: 0 2rem;
	}

  button {
    width: 50%;
    margin-left: 450px;
    background-color: #d8c090;
    border-radius: 20px;
    border: 1px solid #98b4ac;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

form.cleanForm {
min-width: auto;
margin-left: 20px;
float: center;


}
form.cleanForm p {
margin-bottom:15px;
}

.column{
 width:250px;
 float:left;
 margin-right:20px;
 padding: 10px;   
}
.row{
 min-width: none;
 float:left;

 text-align: left;
 

}
.row1{
 width: 450px;
 float:left;
 margin-left: 250px;
 text-align: left;

}
.row2{
 width: 550px;
 float:left;
 margin-left: 400px;
}

.last{
 margin:0;
 padding: 10px;   
}
.pText{
  font-weight: 600;
  justify-content: center;
}
.bText{
  color: #000;
}
.form-field{
  height: 900px;
  width: 600px;
}
#id_reasons{
  width: 1010px;
    height: 200px;
    overflow-y: scroll;
}
#id_studnumber{
  width: 100px;
    height: 30px;
    color: #000;
}
#id_lastname{
  width: 100px;
    height: 30px;
    color: #000;
}
#id_firstname{
  width: 100px;
    height: 30px;
    color: #000;
}
.buttons{
  margin-left: auto;
  width: 200px;
  height: auto;
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #98b4ac, #4863A0);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}
.buttons .text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4863A0, #98b4ac);
}

.buttons:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #E5E4E2;
}

.buttons:hover {
  background-image: linear-gradient(-45deg, #98b4ac, #4863A0);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.buttons:hover .text {
  background-image: linear-gradient(-45deg, #4863A0, #98b4ac);
}
.table-head{
  
    background: #E5E4E2;
    box-shadow: none;
    color: #fff;
    font-weight: 600;
    line-height: 5px;
      box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);
      width: 500px;
      margin:auto;
      border-radius: 20px;
}
.table-head .table-cell{
    border-right: none;
}
.table-cell{
    display: table-cell;
    width: 20%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #838996;
    vertical-align: middle;
}
.first-cell{
    text-align: left;
    padding-left: 10px;
    width: 8%;
}
.last-cell{
    border-right: none;
    width: 15px;
}
p{
  font-size: 17px;
  color: black;
}
.listTitle{
  font-size: 20px;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .table-row {
    font-size: 11px;
  }
}
.fac{

display: flex;
align-items: center;
justify-content: center;

}

.buttonF {
  margin: 0;
width: 420px;
height: 55px;
font-family: 'Roboto', sans-serif;
font-size: 15px;
text-transform: uppercase;
letter-spacing: 2.5px;
font-weight: 600;
color: #fff;
background-color: #4863A0;
border: none;
border-radius: 45px;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease 0s;
cursor: pointer;
outline: none;
}
.fac{

display: flex;
align-items: center;
justify-content: center;

}

.buttonF {
  padding: 13px;
width: 445px;
height: 45px;
font-family: 'Roboto', sans-serif;
font-size: 15px;
text-transform: uppercase;
letter-spacing: 2.5px;
font-weight: 600;
color: #fff;
background-color: #4863A0;
border: none;
border-radius: 45px;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease 0s;
cursor: pointer;
outline: none;
margin: auto;
}
.facers{

display: flex;
align-items: center;
justify-content: center;

}

.buttonFed {
  padding: 13px;
width: 435px;
height: 40px;
font-family: 'Roboto', sans-serif;
font-size: 15px;
text-transform: uppercase;
letter-spacing: 2.5px;
font-weight: 600;
color: #fff;
background-color: #4863A0;
border: none;
border-radius: 45px;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease 0s;
cursor: pointer;
outline: none;
margin-right: auto;
}
</style>
  <div class="fac">
    <button type="submit" class="buttonF">Set Schedule</button>
  </div> 
  diri dapat naay sentnece unsay purpose aning pag paset nimo sa schedule
&nbsp;
<form action="#" class="cleanForm" method="POST">
        <div class="facers">
          {% for message in messages %}
     <p class="buttonFed">{{message}} !</p>
     {% endfor %}
    </div>
     
        <div class="row">     
          <p class="pText"><b class="bText">Student Number: &nbsp;</b>  {{schedform.studnumber}}</p> 
          <p class="pText"><b class="bText" >Student's Last Name: &nbsp;</b> {{schedform.lastname}}</p> 
          <p class="pText"><b class="bText" >Student's First Name: &nbsp;</b> {{schedform.firstname}}</p> 

         
      <form method="POST" action=""> 
            {% csrf_token %}
           <i><h4  class="bText" >Input Reasons below:</h4> </i>
           {{schedform.reasons}}
           <br> <br>
          <button class="buttons" style="font-weight: bold; color: #454545;">Submit</button>
          <!-- // E TUPONG ANG BUTTON OG TITLE IF EITHER LAPTOP OR MONITOR // -->
          </form>

        </div>


      
  </form>
  <br>
     <br>  

   
{% endblock %}
  