{% extends "student/student_home.html" %}
{% block title %} 
Notifications
{% endblock %} 
{% block content %}
<style>
       .card{
      display: flex;
      padding: 20px;
      max-width: 408px;
   padding-left: 5px;
      height: 210px;
      margin: 20px;
      border-radius: 10px;
      background-color: #98adb4;
      box-shadow:
        0 9px 33px rgba(0, 0, 0, 0.07);
      overflow-y: scroll;
      float: left;
      flex-wrap: row;
      margin-left: 140px;
      align-items: stretch;
     
      
      
      
    }
.txtFont{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align:left; margin-right: 30px; 
  display: flex;
  font-size: 17px;
  text-overflow: ellipsis;
  align-items: start;
}
.txtFonty{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align:left; 
  display: flex;
  font-size: 17px; margin-left: 10px;
  text-overflow: ellipsis;
  margin-top: 8px;
  align-items: center;
  /* justify-content: center; */
}
/* === TABLE ==== */
.table-box
{
    margin: 15px auto;
    
}

.table-row{
    display: table;
    width: 40%;
    margin: 10px auto;
    font-family: sans-serif;
    background: transparent;
    padding: 4px 0;
    color: #555;
    font-size: 13px;
    box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);
    height: 0.1%;
    border-radius: 20px;
    
}
.table-head{
  
    background: #E5E4E2;
    box-shadow: none;
    color: #fff;
    font-weight: 600;
    height: 20px;
    line-height: 5px;
    box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);
    justify-content: left;
    margin: auto;
 
}
.table-head .table-cell{
    border-right: none;
}
.table-cell{
    display: table-cell;
    width: 3.33%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #d8c090;
    vertical-align: middle;
    
}
.first-cell{
    text-align: left;
    padding-left: 10px;
    width: 10%;
}

.last-cell{
    border-right: none;
    width: 10%;
}
/* a{
    text-decoration: none;
    color: #555;
} */
p{
  font-size: 17px;
  color: black;
}
.listTitle{
  font-size: 20px;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .table-row {
    font-size: 11px;
  }
}
.trow-list{
      display: table;
    width: 85%;
    margin: 10px auto;
    font-family: sans-serif;
    background: #E3E4FA;
    padding: 4px 0;
    color: #d8c090;
    font-size: 15px;
    box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);
    line-height: 5px;
}
    #customers {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 97%;
    }
    
    #customers td, #customers th {
      border: 1px solid #ddd;
      padding: 10px;
    }
    
    #customers tr:nth-child(even){background-color: #f2f2f2;}
    
    #customers tr:hover {background-color: #ddd;}
    
    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #E3E4FA;
      color: white;
    }
    .fac{

display: flex;
align-items: center;
justify-content: center;

}

.buttonF {
width: 300px;
height: 55px;
font-family: 'Roboto', sans-serif;
font-size: 18px;
text-transform: uppercase;
letter-spacing: 2.5px;
font-weight: 600;
color: #fff;
background-color: #d8c090;
border: none;
border-radius: 8px;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease 0s;
cursor: pointer;
outline: none;

}

</style>


        <div class="fac">
          <button type="submit" class="buttonF">History</button>
        </div> 
<br>
<table id="customers">
  <tr>
  <th style="text-align:center; color: black;">Counselor's Name</th>
  <th style="text-align:center; color: black;">Date</th>
  <th style="text-align:center; color: black;">Time</th>

</tr>

{% if not object %}
<div class="facN">
  <button  class="buttonN">No Records Yet!</button>
</div> 
     <br>
{% else %}

{% for obj in object reversed %}
{% for couns in counselor %}
<!-- {{couns.employee_id}}
{{obj.counselor}}  -->

{% if couns.employee_id == obj.counselor %}
<tr>
<td>{{couns.firstname}} {{couns.lastname}}</td>
<td> {{obj.date}}</td>
<td>{{obj.start_time}} - {{obj.end_time}}</td>

</tr>
{% endif %}
{% endfor %}
{% endfor %}
</table>
{% endif %}
{% endblock %}


