{% extends "teacher/teacher_home.html" %}

{% block title %} 
   Referred Students
{% endblock %} 

{% block content %} 
<style>

/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    overflow-y: scroll;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4863A0;
}

.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #4863A0;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 80px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 20px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}
.thkid{
  font-size: 17px;
}
.fac{

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.buttonF {
  width: 350px;
  height: 55px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 600;
  color: #fff;
  background-color: #4863A0;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }


</style>
<br>

<div class="fac">
  <button type="submit" class="buttonF">Referred Student </button>
</div> 
<br>
{% if not object_list %}
  No Referred Students Yet!
{% endif %}

 <div class="table-wrapper">
  
    <table class="fl-table">
        <thead>
        <tr>
            <th class="thkid">Session Date</th>
            <th class="thkid">ID Number</th>
            <th class="thkid">Students Name</th>
            <th class="thkid">Status</th>
            <th class="thkid">Information</th>
        </tr>
        </thead>
        {% for object in object_list reversed %}
        <tbody>
        <tr>

            <td style="font-size: 15px;">{{object.date}}</td>
            <td style="font-size: 15px;">{{object.studnumber}}</td>
            <td style="font-size: 15px;">{{object.lastname}}, &nbsp; {{object.firstname}}</td>
            <td style="font-size: 15px;">{{object.status|title}}</td>
            <td style="font-size: 15px;" style="color: black;" ><a href="{% url 'teacher_view_detail_referred_students' object.id %}" style="font-weight: 550; color: black;">View More Information</a></td>

        
        </tr>
        <tbody>
              {% endfor %}
    </table>
  </div>


{% endblock %}


