{% extends "counselor/modalC.html" %}



{% block content %} 
<style>

  .login_btn {
		width: 100%;
		background: #d8c090!important;
		color: white !important;
	}

	.login_btn:focus {
		box-shadow: none !important;
		outline: 0px !important;
	}

	.login_container {
		padding: 0 2rem;
	}

  button {
    width: 50%;
    margin-left: 450px;
    background-color: #d8c090;
    border-radius: 20px;
    border: 1px solid #98b4ac;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

form.cleanForm {
width:700px;
margin:0 auto;

}
form.cleanForm p {
margin-bottom:15px;
}

.column{
 width:250px;
 float:left;
 margin-right:20px;
 padding: 10px;   
}
.row{
 width: 450px;
 float:right;

 text-align: left;
 

}
.row1{
 width: 450px;
 float:left;
 margin-left: 250px;
 text-align: left;

}
.row2{
 width: 550px;
 float:left;
 margin-left: 400px;
}

.last{
 margin:0;
 padding: 10px;   
}
.pText{
  font-weight: 600;
}
.bText{
  color: #000;
}
.form-field{
  height: 900px;
  width: 600px;
}
#id_feedback{
  width: 1100px;
    height: 200px;
    overflow-y: scroll;
}
#id_remarks{
  width: 1100px;
    height: 200px;
}
.buttons{
  width: 200px;
  height: auto;
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #98b4ac, #d8c090);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}
.buttons .text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #d8c090, #98b4ac);
}

.buttons:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #E5E4E2;
}

.buttons:hover {
  background-image: linear-gradient(-45deg, #98b4ac, #d8c090);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.buttons:hover .text {
  background-image: linear-gradient(-45deg, #d8c090, #98b4ac);
}

  </style>
  
<!-- 
<div class="table-row table-head">
  <div class="table-cell first-cell">
      <p class="listTitle"> <i>Input your Feedback here</i></p>
  </div>
</div> -->
<br>
<br>   

<div class="card1">
  
  <form action="#" class="cleanForm" method="POST">


    
          {% for message in messages %}
    <center><b> <p>{{message}} !</p></b></center>
     {% endfor %}
  

        <div class="column">
          <div class="row">     
            <p class="pText"><b class="bText">Date Referred: &nbsp;</b> {{info.created_at}}</p> 
            <p class="pText"><b class="bText" >Name of Student Referred: &nbsp;</b> {{student.lastname}}, {{student.firstname}}</p> 
            
          &nbsp;    &nbsp;
            <form  method="POST" action="" class="form-field" > 
    
              {% csrf_token %}
             <i><h4  class="bText" >Actions Taken/Strategies taken by the Counselor:</h4> </i>
             {{object.feedback}}
             <i><h4  class="bText" >Input Remarks here:</h4> </i>
             {{object.remarks}}
             <p class="pText"><b class="bText">Prepared by: &nbsp;</b> {{info2.firstname}} {{info2.lastname}}</p>
            <br> 
            <button class="buttons" style="font-weight: bold; color: #454545;">Submit</button>
            </form>

<br>
          

          </div>
          </div>


        <div class="column">
          <div class="row1"> 
        
            &nbsp;    &nbsp;   
          </div>
         
          </div>
        
    </form>

</div>
   
{% endblock %}
